@model VerticalFlight.Core.Domain.Heartbeat

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<fieldset>
    <legend>Heartbeat</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.HeartbeatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

